language: node_js
node_js: '10'
cache:
  directories:
    - "node_modules"
install:
- curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
- export PATH=$HOME/.yarn/bin:$PATH
- yarn --silent --non-interactive --ignore-scripts
jobs:
  include:
    - stage: test
      script: commitlint-travis || travis_terminate 1
